@media (max-width: 900px) {
  .about-section {
    text-align: center;
    padding: 0;
  }
}
body {
  background-color: antiquewhite;
}

.about-me-description {
  margin: 30px;
}
.row {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}
img {
  vertical-align: middle;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  max-height: min-content;
  border-left: 20px;
}
.btn {
  background: green;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  transition: ease-in-out;
}
.btn:hover {
  color: antiquewhite;
  background: rgb(53, 53, 6);
}
