@media (max-width: 900px) {
  .about-section {
    text-align: center;
    padding: 0;
  }
}
:root {
  --branding-color: antiquewhite;
  --secondary-color: rgb(9, 105, 9);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--branding-color);
}

.about-me-description {
  margin: 30px;
}
h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 24px;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-weight: bolder;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
.row {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}
img {
  vertical-align: middle;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  max-height: min-content;
  border-left: 20px;
}
.btn {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-bottom: 40px;
  margin-top: 20px;
  transition: ease-in-out;
}
.btn:hover {
  color: var(--branding-color);
  background: rgb(53, 53, 6);
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 30px;
  margin-top: 60px;
}
.content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
